<div class="checkin">
  <img src="<%= checkin.user.photo.prefix %>100x100<%= checkin.user.photo.suffix %>" alt="<%= checkin.user.firstName %>" class="profile-photo">
  <h3 class="user"><%= checkin.user.firstName %></h3>
  <!--
  <h3 class="venue"><a href="#/venues/<%= checkin.venue.id %>"><%= checkin.venue.name %></a></h3>
  -->
  <h2 class="venue"><%= checkin.venue.name %></h2>

  <h4><%= window.moment.unix(checkin.createdAt).fromNow() %></h4>
  
  <% if (checkin.shout) { %>
    <p class="shout"><%= checkin.shout %></p>
  <% } %>
</div>
