<% if (venue) { %>
  <div class="map" style="background: url('<%= window.GLOBALS.MAP_URL %>pin-m+0095dd(<%= venue.location.lng %>,<%= venue.location.lat %>)/<%= venue.location.lng %>,<%= venue.location.lat %>,16/<%= $(window).width() %>x125.png')"></div>

  <div class="venue-summary summary">
    <div class="center">
      <h1><%= venue.name %></h1>
      <% if (venue.categories.length || venue.location.city) { %>
        <h3 class="subheader">
          <% if (venue.categories.length) { %>
            <%= venue.categories[0].name %>
          <% } %>
          <% if (venue.categories.length || venue.location.city) { %>
            <small><%= l('in') %>
          <% } %>
          <% if (venue.location.city) { %>
            <%= venue.location.city %>

            <% if (venue.categories.length) { %>
              </small>
            <% } %>
          <% } %>
        </h3>
      <% } %>

      <button class="check-in"><%= l('Check In') %></button>
    </div>

    <!--
      LOCATION DATA:
      <% if (venue.location) { %>
        <%= venue.location.lat %> / <%= venue.location.lng %>
      <% } %>
    -->

    <p><%= venue.description %></p>
  </div>

  <% if (tips) { %>
    <h1><%= l('Tips') %></h1>

    <% tips.forEach(function(tip) { %>
      <ul class="venue tips">
        <li class="tip">
          <p class="text"><%= tip.text %></p>

          <p class="author"><cite><a href="#/users/<%= tip.user.id %>"><%= tip.user.firstName %></a></cite></p>
        </li>
      </ul>
    <% }) %>
  <% } %>
<% } else { %>
  <h2><%= l('Error') %></h2>

  <p><%= l('Venue not found.') %></p>
<% } %>
