<% if (venue && venue.id) { %>
  <div class="map venue" style="background-image: url('<%= mapURL %>')"></div>

  <div class="venue-summary summary" id="venue-<%= venue.id %>">
    <div class="center">
      <h1><%= venue.name %></h1>

      <% if (venue.categories.length || venue.location.city) { %>
        <h3 class="category subheader">
          <% if (venue.categories.length) { %>
            <%= venue.categories[0].name %>
          <% } %>
          <% if (!isLocal) { %>
            <% if (venue.categories.length || venue.location.city) { %>
              <small><%= l('in') %>
            <% } %>
            <% if (venue.location.city) { %>
              <%= venue.location.city %>

              <% if (venue.categories.length) { %>
                </small>
              <% } %>
            <% } %>
          <% } %>
        </h3>
      <% } %>

      <% if (hours) { %>
        <h3 class="hours subheader"></h3>
      <% } else if (venue.hours && venue.hours.length && !venue.hours.isOpen) { %>
        <h3 class="hours subheader"><%= l('Closed right now') %></h3>
      <% } %>

      <% if (venue.price && venue.price.tier) { %>
        <h3 title="<%= venue.price.message %>">
          <%= l('Price:') %>

          <% for (var i = 1; i <= venue.price.tier; i++) { %>
            <i class="fa fa-circle"></i>
          <% } %>
          <% for (var i = 1; i <= (4 - venue.price.tier); i++) { %>
            <i class="fa fa-circle-o"></i>
          <% } %>
        </h3>
      <% } %>

      <button class="check-in" data-venue="<%= venue.id %>"><%= l('Check in here') %></button>

      <div class="like-buttons">
        <% if (venue.like) { %>
          <button class="like" data-venue="<%= venue.id %>" title="<%= l('You liked this place!') %>"><i class="fa fa-thumbs-up"></i> <%= l('Liked!') %></button>
        <% } else { %>
          <button class="like" data-venue="<%= venue.id %>" title="<%= l('Like this place to get better recommendations.') %>"><i class="fa fa-thumbs-o-up"></i> <%= l('Like') %></button>
        <% } %>

        <% if (venue.dislike) { %>
          <button class="dislike" data-venue="<%= venue.id %>" title="<%= l("Sorry you didn't like this place :-(") %>"><i class="fa fa-thumbs-down"></i> <%= l('Disliked') %></button>
        <% } else { %>
          <button class="dislike" data-venue="<%= venue.id %>" title="<%= l("Didn't have a good time?") %>"><i class="fa fa-thumbs-o-down"></i> <%= l('Dislike') %></button>
        <% } %>
      </div>
    </div>

    <p><%= venue.description %></p>
  </div>

  <% if (tips && tips.length) { %>
    <h1><%= l('Tips') %></h1>

    <ul class="venue tips">
      <% _.first(tips, 3).forEach(function(tip) { %>
        <li class="tip">
          <p class="text"><%= tip.text %></p>

          <p class="author"><cite><a href="#/users/<%= tip.user.id %>"><%= tip.user.firstName %></a></cite></p>
        </li>
      <% }) %>
    </ul>

    <div class="more-tips center">
      <button class="leave-tip" data-venue="<%= venue.id %>"><%= l('Leave a tip') %></button>

      <% if (tips && tips.length > 3) { %>
        <a class="read-all-tips" href="#venues/<%= venue.id %>/tips"><%= l('Read all tips') %></a>
      <% } %>
    </div>
  <% } else { %>
    <h1><%= l('Tips') %></h1>

    <div class="more-tips center">
      <button class="leave-tip" data-venue="<%= venue.id %>"><%= l('Leave a tip') %></button>
    </div>
  <% } %>

  <% if (venue.photos && venue.photos.length) { %>
    <h1><%= l('Photos') %></h1>

    <ul class="venue photos">
      <% venue.photos.forEach(function(photo) { %>
        <!-- TODO: Obviously, add a modal photo viewer -->
        <li><a class="photo" style="background-image: url(<%= photo.prefix %><%= photo.width %>x<%= photo.height %><%= photo.suffix %>);" href="<%= photo.prefix %><%= photo.width %>x<%= photo.height %><%= photo.suffix %>" target="_blank"></a></li>
      <% }) %>
    </ul>
  <% } %>

  <div class="center">
    <label for="upload-photo" class="hide"><%= l('Upload a photo') %></label>
    <input type="file" id="upload-photo" name="upload-photo" data-venue="<%= venue.id %>" class="hide">
    <button class="upload-photo" data-venue="<%= venue.id %>"><%= l('Upload a photo') %></button>
  </div>

  <p class="attribution"><a href="https://foursquare.com/v/<%= venue.id %>?ref=<%= window.GLOBALS.CLIENT_ID %>" target="_blank"><%= l("See this venue on Foursquare's website.") %></a></p>
<% } else if (isLoading) { %>
  <div class="map venue"></div>

  <div class="venue-summary summary">
    <div class="center">
      <h1><%= l('Loading') %><span class="circle-small"></span></h1>
    </div>
  </div>
<% } else { %>
  <h2><%= l('Error') %></h2>

  <p><%= l('Venue not found.') %></p>
<% } %>
