<% if (venue) { %>
  <div class="map" style="background: url('<%= window.GLOBALS.MAP_URL %>pin-m+0095dd(<%= venue.location.lng %>,<%= venue.location.lat %>)/<%= venue.location.lng %>,<%= venue.location.lat %>,16/<%= $(window).width() %>x125.png')"></div>

  <div class="venue-summary summary">
    <h2><%= venue.name %></h2>
    <% if (venue.categories.length || venue.location.city) { %>
      <h3 class="subheader">
        <% if (venue.categories.length) { %>
          <%= venue.categories[0].name %>
        <% } %>
        <% if (venue.categories.length || venue.location.city) { %>
          <small><%= l('in') %>
        <% } %>
        <% if (venue.location.city) { %>
          <%= venue.location.city %>

          <% if (venue.categories.length) { %>
            </small>
          <% } %>
        <% } %>
      </h3>
    <% } %>

    <!--
    <p><%= venue.location.lat %> / <%= venue.location.lng %></p>
    -->

    <p><%= venue.description %></p>
  </div>
<% } else { %>
  <h2><%= l('Error') %></h2>

  <p><%= l('Venue not found.') %></p>
<% } %>
