<% if (venue && venue.id) { %>
  <div class="venue-summary summary" id="venue-<%= venue.id %>">
    <% if (tips) { %>
      <div class="center">
        <h1><%= l('Tips left at ') %><%= venue.name %></h1>
      </div>

      <ul class="venue tips">
        <% tips.forEach(function(tip) { %>
          <li class="tip">
            <p class="text"><%= tip.text %></p>

            <p class="author"><cite><a href="#/users/<%= tip.user.id %>"><%= tip.user.firstName %></a></cite></p>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <div class="center">
        <h1><%= l('No tips for ') %><%= venue.name %></h1>
      </div>
    <% } %>
  </div>

  <p class="attribution"><a href="https://foursquare.com/v/<%= venue.id %>?ref=<%= window.GLOBALS.CLIENT_ID %>" target="_blank"><%= l("See this venue on Foursquare's website.") %></a></p>
<% } else if (isLoading) { %>
  <div class="venue-summary summary">
    <div class="center">
      <h1><%= l('Loading') %><span class="circle-small"></span></h1>
    </div>
  </div>
<% } else { %>
  <h2><%= l('Error') %></h2>

  <p><%= l('Venue not found.') %></p>
<% } %>
