<div id="login">
  <h1><%= l('Sign in to Foursquare') %></h1>

  <p><%= l('around is a Foursquare app for Firefox OS, mobile phones, and web browsers.') %></p>

  <p><%= l('Tap the connect button below to link your Foursquare account and start exploring venues nearby.') %></p>

  <div class="center">
    <a id="sign-in" href="<%= loginURL %>"><%= l('Sign in with Foursquare') %></a>
  </div>
</div>
