<% if (user) { %>
  <img src="<%= user.profilePhoto() %>" alt="<%= l('Profile photo for ') + user.name %>" class="profile-photo">

  <div class="profile-summary">
    <h1><%= user.name %></h1>
    <h2 class="subheader"><%= l('From:') %> <%= user.homeCity %></h2>

    <p><%= user.bio %></p>

    <% if (user.checkins && user.checkins.items.length) { %>
      <h2>
        <!--
          If the user checked in less than a few hours ago, we'll say
          they're still there.
        -->
        <%= user.checkins.items[0].createdAt + window.GLOBALS.RECENT_CHECKIN_TIME > window.timestamp() ? l('Currently at:') : l('Last at:') %>

        <a href="#venues/<%= user.checkins.items[0].venue.id %>"><%= user.checkins.items[0].venue.name %></a>
      </h2>
    <% } %>

    <!-- Show recent checkins -->
    <% if (user.checkins && user.checkins.items && user.checkins.items.length) { %>
      <h1><%= l('History') %></h1>

      <div class="checkins">
        <% user.checkins.items.forEach(function(checkin) { %>
          <%= CheckinShowTemplate({checkin: checkin}) %>
        <% }) %>
      </div>
    <% } %>
  </div>
<% } else { %>
  <h2><%= l('Error') %></h2>

  <p><%= l('User not found.') %></p>
<% } %>
