<div id="timeline">
  <div class="map" <% if (mapURL) { %>style="background-image: url('<%= mapURL %>')"<% } %>></div>
  <h1>
    <%= l("What's Happening") %>
    <% if (loadingCheckins) { %>
      <span class="circle-small"></span>
    <% } else { %>
      <a class="refresh"><i class="fa fa-refresh"><span class="hide"><%= l('Refresh') %></span></i></a>
    <% } %>
  </h1>

  <x-tabbar>
    <x-tabbar-tab data-target-selector="#timeline .nearby" class="active"><%= l('Near me') %></x-tabbar-tab>
    <x-tabbar-tab data-target-selector="#timeline .worldwide"><%= l('Worldwide') %></x-tabbar-tab>
  </x-tabbar>

  <x-slidebox orientation="x">
    <x-slides>
      <x-slide class="nearby active">
        <% for (var i in nearbyCheckins) { %>
          <%= CheckinShowTemplate({checkin: nearbyCheckins[i]}) %>
        <% } %>
      </x-slide>
      <x-slide class="worldwide">
        <% for (var i in checkins) { %>
          <%= CheckinShowTemplate({checkin: checkins[i]}) %>
        <% } %>
      </x-slide>
    </x-slides>
  </x-slidebox>

  <p class="attribution"><%= l('around is powered by ') %><a href="https://foursquare.com/" target="_blank">Foursquare</a>.<!-- <a href="#learn-more-link"><%= l('Learn more') %></a>--></p>

  <footer>
    <button class="check-in"><%= l('Check In') %></button>
  </footer>
</div>
